
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to my Inventory!</strong></h1>
    <p>You can edit it below!</p>
    <form action="Product/ViewAllProducts">
        <input type="submit" value="Start the Job!" />
    </form>
</div>

